.blog-content {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 1.1rem;
  margin-top: 2em;
}

.blog-content h1,
.blog-content h2,
.blog-content h3 {
  margin-top: 2rem;
}

.blog-content p {
  margin-bottom: 1.2rem;
}

.blog-content img {
  max-width: 100%;
  border-radius: 6px;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 0.5em;   
    span {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
  .blog-content {
    max-width: unset;
    margin: 0 auto;
    line-height: 1.5em;
    font-size: 0.9rem;
    margin-top: -2em;
    padding: 1em 2em 0em 1em;
  }
}

