<div>
    <app-banner-image [text]="bannerText"/>
    <h1 style="text-align: center; margin-top: 2em;">Metas y objetivos</h1>
    <div class="blog-content">
        <div class="section-title">
            <!--<span class="material-symbols-outlined">book_ribbon</span>-->
            <span class="material-symbols-outlined">wheat</span>
            <h3>Alimentar y cuidar a las ovejas con la Palabra de Dios</h3>
        </div>
            <ul>
                <li>Predicando expositivamente el libro de Filemón.</li>
                <li>Trabajando con el equipo base el cuidado y seguimiento del discipulado de cada ovejita:</li>
                <ul>
                    <li>Orar por cada pareja según el proceso en el que se encuentre.</li>
                    <li>Ser diligentes en revisar la lista de asistencia y adelantarles cuando sea necesario.</li>
                    <li>Contar con momentos informales para mostrar un interés genuino.</li>
                    <li>Observar las metas de cada nivel y velar por el crecimiento respectivo.</li>
                    <li>Involucrar a las parejas que van más adelante en el cuidado de las ovejitas.</li>
                </ul>
                <li>Invirtiendo en los hombres del ministerio como soldados de Jesucristo y líderes de sus hogares a través de las reuniones trimestrales de Hombres de Valor.</li>
                <li>Animando a las mujeres del ministerio a llegar a las reuniones de damas.</li>
                <li>Teniendo dos reuniones SNAC en el año para crecer en nuestro compañerismo.</li>
                <li>Actualizando el site del ministerio con temas prácticos que viven las parejas en esta etapa: crianza, manejo de las finanzas, manejo de conflictos, el uso de la varita, deudas, etc.</li>
            </ul>
            <hr>
            <div class="section-title">
                <span class="material-symbols-outlined">sprint</span>
                <h3>Participar de forma activa en la realización de CPC</h3>
            </div>
            <ul>
                <li>Solicitando a los pastores o encargados de obra las peticiones de oración respectivas, enviándolas al ministerio y desafiándonos a ser fieles en oración.</li>
                <li>Orando por las naciones en las diferentes reuniones de ministerio.</li>
                <li>Transmitiendo a las parejas la importancia del ofrendar y el dar en forma sacrificial.</li>
                <li>Programando 2 viajes misioneros en el año con los alumnos que estén terminando Perfeccionando a los santos, o aquellos que ya terminaron pero no han participado en un viaje misionero, y algunas parejas que Dios nos guíe.</li>
                <li>Involucrando a las parejas que van más adelante en las áreas logísticas del ministerio.</li>
                <li>Involucrando a las parejas en el servicio dentro del ministerio y la iglesia de acuerdo a su etapa de discipulado.</li>
                <li>Orando e invirtiendo en los hombres con llamamiento misionero o a pastor.</li>
                <li>Realizar los talleres de enseñanza con el propósito de identificar a los creyentes con el don de la enseñanza.</li>
            </ul>
            <hr>
            <div class="section-title">
                <span class="material-symbols-outlined">globe_location_pin</span>
                <!--<span class="material-symbols-outlined">partner_exchange</span>-->
                <h3>Desafiar a las parejas a movilizarse en sus campos misioneros</h3>
            </div>
            <ul>
                <li>Orando fielmente por fruto fresco en el ministerio de Parejas Jóvenes.</li>
                <li>Desafiando a las parejas al evangelismo como estilo de vida.</li>
                <li>Predicando el evangelio en nuestras reuniones de ministerio.</li>
                <li>Desarrollando el puente 3200 metros 2 veces en el año como ministerio.</li>
                <li>Involucrando a las parejas en RLBS regionalmente.</li>
            </ul>
    </div>
</div>

