.upcomingHeader {
    text-align: center;
    color: #354a4a;
    font-size: xx-large;
    margin-top: 2em;
}

.event-group {
  width: 70%;
  max-width: 80em;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.monthHeader {
    text-align: center;
    color: #6ab3b8;
    font-size: x-large;
    margin: 1.5em;
}

hr {
    border: 1px solid #cccccc;
}