<mat-sidenav-container class="layout-container">
  <!-- Lateral MENU -->
  <mat-sidenav #sidenav mode="over">
    <nav class="menu-list">
      <a href="/">Inicio</a>
      <a href="/events">Próximos eventos<span class="material-symbols-outlined">
      keyboard_arrow_right
      </span></a>
      <a href="/planning">Planeación <span class="material-symbols-outlined">
      keyboard_arrow_right
      </span></a>
      <a href="/petitions">Peticiones <span class="material-symbols-outlined">
      keyboard_arrow_right
      </span></a>
      <!--<a href="/tools">Herramientas <span class="material-symbols-outlined">
      keyboard_arrow_right
      </span></a>-->
    </nav>
  </mat-sidenav>
  <!-- Lateral MENU -->

  <mat-sidenav-content>
    <app-header (menuClick)="sidenav.toggle()"></app-header>
    <!-- CONTENT -->
    <div class="page-content">
      <router-outlet />
    </div>
    <!-- CONTENT -->
    <!-- FOOTER -->
    <app-footer />
    <!-- FOOTER -->
  </mat-sidenav-content>

</mat-sidenav-container>

