<div class="info-section">
  <!-- 🔹 Sección Superior -->
  <div class="top-section">
    <p>Hola!</p>
    <h2>Nos visitas por primera vez?</h2>
    <div class="separator"></div>
    <p>Trabajamos para impactar vidas y servir a nuestra comunidad</p>
  </div>

  <!-- 🔹 Sección Inferior -->
  <div class="cards-section">

    <div class="card">
      <div class="card-header">
        <div class="icon-circle">
          <mat-icon fontSet="material-symbols-outlined">favorite</mat-icon>
        </div>
        <span>Nuestros servicios dominicales</span>
      </div>
      <div class="card-body">
        <p class="title">
          Ven y celebra con nosotros cada domingo la victoria de Cristo.
        </p>
        <br/>
        <p>
          Encuentra paz, esperanza y comunidad en nuestras reuniones dominicales.
        </p>
      </div>
      <button class="card-button">
        Conoce más
      </button>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="icon-circle">
          <mat-icon fontSet="material-symbols-outlined">groups</mat-icon>
        </div>
        <span>Estudios biblicos y discipulados</span>
      </div>
      <div class="card-body">
        <p class="title">
          Crece en fe y conocimiento compartiendo juntos la Palabra.
        </p>
        <br/>
        <p>
          Descubre la verdad eterna participando en nuestros estudios bíblicos.
        </p>
      </div>
      <button class="card-button">
        Conoce más
      </button>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="icon-circle">
          <mat-icon fontSet="material-symbols-outlined">volunteer_activism</mat-icon>
        </div>
        <span>Conoce al equipo de liderazgo</span>
      </div>
      <div class="card-body">
        <p class="title">
          Conoce a nuestros lideres y maestros de la palabra.
        </p>
        <br/>
        <p>
          Conoce líderes comprometidos guiando con amor y servicio constante.
        </p>
      </div>
      <button class="card-button">
        Conoce más
      </button>
    </div>

  </div>

</div>