.info-section {
  padding: 2rem 2rem 4rem 2rem;
  background: antiquewhite; // #6ab3b8; aguamarina anterior


  background-image: url("assets/banner-worship-grayscale.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

/* 🔹 Sección Superior */
.top-section {
  text-align: center;
  margin-bottom: 3rem;
}

.top-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fff; //#6c6c6c;
}

.top-section p {
  color: #fff; // #666;
}

/* 🔹 Sección Inferior */
.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  justify-content: center;  
  gap: 2rem;
}

/* 🔹 Card */
.card {
  display: flex;
  flex-direction: column;
  background: white;
  //width: 16em;
  width: 260px;
  cursor: pointer;
}

/* Header aguamarina */
.card-header {
  display: grid;
  grid-template-columns: 3rem auto;
  //align-items: center;
  gap: 0.5rem;
  background: #000000 ; //#53b2d0;azul // #6b5b5b;cafe // #6ab3b8;Aguamarina
  padding: 1rem;
  font-weight: 600;

  span {
    color: white;
    }
}

/* Icono redondeado */
.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
}

/* Cuerpo */
.card-body {
    flex: 1;
  padding: 1.5rem;
  text-align: center;
  p {
    margin: 0;
    color: #555;
    line-height: 1.6;

    &.title {
      font-weight: 700;
      color: #000;
    }
  }
}

/* Botón inferior */
.card-button {
  height: 30px;
  background: #000000 ; //#53b2d0;azul // #6b5b5b;cafe // #6ab3b8;Aguamarina
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: smaller;
  color: white;
  text-transform: uppercase;
  margin: 0em 3em 1em 3em;
}

.card-button:hover {
  background: #2a4941;
}

.separator {
width: 120px;
  height: 1px;
  background-color: #777777; 
  justify-self: center; 
}


@media (max-width: 768px) {

  .cards-section::before {
    content: "";
    min-width: 10px;
  }

  .cards-section {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;

    padding: 20px 0 20px 20px;

    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;

    justify-content: flex-start; 
  }

  .card {
    flex: 0 0 260px;
    scroll-snap-align: start;
  }

  .cards-section::-webkit-scrollbar {
    display: none;
  }

}